/* form design */
.paymentFormField {
    border: 1px solid rgba(138, 138, 160, 0.3);
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: 18px;
    line-height: 28px;
    border-radius: 4px;
    padding: 13px 15px;
    width: 100%;
    background: transparent;
    color: #fff;
}
.PaymentFieldTitle {
    font-size: 18px;
    color: #fff;
    padding: 15px 0px;
    /* font-family: 'Urbanist'; */
    font-weight: 500;
}
.paymentFormField input {
    color: #fff;
}
.isInvalidError {
    font-size: 16px;
    color: rgb(213 34 34);
    font-weight: 600;
}
.subScribebtn:focus {
    color: #fff;
}


/*bharat*/
.plansTable {
    background: #353444;
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 20px;
}
.planBox {
    padding: 20px;
    background: #353444;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.paymentInfoBtn button:hover {
    color: #fff;
    background: transparent;
}
.paymentInfo h2 span {
    font-size: 15px;
    font-weight: 500;
    margin-left: 5px;
}
.paymentInfo h2 {
    margin: 10px 0px;
    display: flex;
    align-items: center;
}
table.p_table thead tr th {
    text-align: center;
}
table.p_table tbody tr td {
    text-align: center;
}
table.p_table tbody tr td:first-child {
    text-align: left;
}
.paymentInfoBtn.already button {
    background: #40c07b;
    opacity: 0.3;
}
.cardBox0 {
    background: #353444;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 18px 12px;
    margin: 10px 0px 20px 0px;
    justify-content: space-between;
    cursor: pointer;
}
.cardMainImage {
    margin-right: 18px;
}
.cardCheckImage {
    width: 16px;
}
.AddpaymentDetails h3, .PrepaymentDetails h3 {
    font-size: 38px;
    margin-bottom: 30px;
}


@media screen and (max-width: 767px) {
    .paymentInfoBtn button {
        font-size: 13px;
        padding: 10px 15px;
    }
    .paymentcardcancel, .paymentbycard {
        width: 90%;
    }
  }

  .row.PaymentBtn {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
}
.paymentbycard {
    width: 50%;
}
.paymentbycard button {
    border: 1px solid #40c07b;
    background: transparent;
    font-size: 16px;
    font-weight: 700;
    padding: 15px 20px;
    border-radius: 25px;
    width: 100%;
    color:#40c07b;
}
.paymentcardcancel button{
    border: 1px solid transparent;
    background: transparent;
    font-size: 16px;
    font-weight: 700;
    padding: 15px 20px;
    border-radius: 25px;
    width: 100%;
    color:#40c07b;

}
.paymentcardcancel button:hover {
    border: 1px solid #40c07b;
    background: transparent;
    color:#40c07b;
}
.paymentbycard button:hover {
    border: 1px solid #40c07b;
    background: #40c07b;
    color:#fff;
}

.paymentcardcancel {
    width: 50%;
    text-align: center;
    margin-top: 30px;
}